{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Schedule</title>
        {% include 'components/head.html' %}
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>