{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}


<div class="form-page">
    <div class="container">
        <h2>Enter your new activity</h2>
        <br>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.name }}" style="color:white;">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-dark" value="Create">
        </form>
    </div>
</div>

{% endblock %}