{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="container">
    <div class="btn-delete">
        <a href="{% url 'lab_05:createJadwal' %}" class="btn btn-dark">Create new Activity</a>
        <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete all</a>
    </div> 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Prompt window</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if activities %}
                <div class="modal-body">
                    Are you sure to delete all activities you created?
                </div>
                <div class="modal-footer">
                    <div class="btn-delete">
                        <a class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'lab_05:deleteJadwal' %}" class="btn btn-danger">Delete all</a>
                    </div>
                </div>
                {% else %}
                <div class="modal-body">
                    You have no activities now.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if activities %}
{% for activity in activities %}
<div class="container">
    <div class="cont-list">
        <h2>{{ activity.name }}</h2>
        <p>{{ activity.day }}, {{ activity.time }} at {{ activity.venue }}</p>
        <p>Category: {{ activity.category.name }}</p>
    </div>
</div>
{% endfor %}

{% else %}
<div class="box">
    <div class="form-page-no-activities">
        <p>No activities!</p>
    </div>
</div>
{% endif %}

{% endblock %}