body {
    background-color: turquoise;
    text-align: center;
}

a {
    color: white;
    font: "Monsterrat";
    font-size: 35px;    
    margin-top: 25px;
}

.btn-delete {
    color:white;
}
.cont-list {
    margin-top:30px; 
    color:white; 
    border:5px solid white; 
    border-radius:1em 1em 1em 1em;
}

a:hover {
    color: white;
    text-decoration: none
}

.artcl {
    color: white;
    font: "Monsterrat";
    font-size: 75px;
    margin-top: 25px;   
}

.navbar-web {
    font-size: 10px;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 90px;
    font-size: 35px;
    font: "Monsterrat";
}

br {
    line-height: 150%
}

h1 {
    margin-top: 60px
}

h2 {
    font: "Monsterrat";
}

#contact-logo {
    margin-top: 150px;
}

#socmed-contact {
    margin-top: 51px;
}

#record-logo {
    margin-top: 75px;
}   

#record-caption {
    color: white;
    font: "Monsterrat";
}

#register-caption {
    margin-top: 50px;
    color: white;
}

#socmed-register {
    margin-bottom: 50px;
}

.contact-detail {
    margin-top: 50px;
    font: "Monsterrat";
    color: white;
}

.contact-caption {
    margin-top: 55px;   
    color: white;
    font: "Monsterrat";
}

.button-modal {
    color: black;
}

.jadwal-wrapper {
    min-height: 81vh;
    padding-top: 2em;
    padding-bottom: 2em;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white; 
}

@media (min-width: 700px) {
    .container {
        max-width: 500px;
    }
}

.form-page {
    margin-top:40px;
}

.form-page-no-activities {
    margin-top:20px; 
    color:white;
}
  
