{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        {% include "head_link.html" %}
    </head>
    <body>
        <!-- width 75% dari, mx(margin x) auto -->
        {% include "navbar.html" %}
        <div class="artcl">
            <h1 style="margin-top:80px">ESTJ-T : The Executive</h1>
            <h1 style="margin-top:100px">I am well known for being an extrovert person</h1>
            <h1>I observe well in many situations</h1>
            <h1>I take decisions carefully</h1>
        </div>
        {% include "socmed.html" %}
    </body>
</html>