{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        {% include "head_link.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="contact-detail">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="https://i.imgur.com/7fypjob.png" alt="Call" style="width:200px; height:200px">
                        <h2>+62 813 1676 3649</h2>
                    </div>
                    <div class="col">
                        <img src="https://i.imgur.com/HUyjcrs.png" alt="Email" style="width:200px; height:200px">
                        <h2>samuel.dimas@rocketmail.com</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-caption">
            <div class="d flex justify-content-around">
                <h2>You can contact me through one of these media above</h2>
                <h2>OR</h1>
                <h2>You can surf to one of my social media accounts below</h2>
            </div>
        </div>
        <div id="socmed-contact">
            {% include "socmed.html" %}
        </div>
    </body>
</html>