{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% include "head_link.html" %}
    </head>
    <body>
        {% include "navbar.html" %}     
        <div>
            <span class="circle">
                <h2 style="margin-top: 28px">SD</h2>
            </span>
        </div>
        <div class="artcl">
            <h1>Welcome to the home of a</h1>
            <h1>PASSIONATE WEB PROGRAMMER</h1>
            <h1>Maintaining the satisfaction of you, users, is my number one priority!</h1>
        </div>
        {% include "socmed.html" %}
    </body>
</html>
