<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark dark-grey-bg">
        <a class="navbar-brand" href="{% url 'lab_04:home' %}"><span class="brand hnl-red-text">Home</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link bold" href="{% url 'lab_04:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" href="{% url 'lab_04:about' %}"><span class="active-ref light-grey-text">About</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" href="{% url 'lab_04:track-record' %}"><span class="active-ref light-grey-text">Track Record</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" href="{% url 'lab_04:contact' %}"><span class="active-ref light-grey-text">Contact</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" href="{% url 'lab_04:register-now' %}"><span class="active-ref light-grey-text">Register Now</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    