{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Register Now</title>
        {% include "head_link.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div id="register-caption">
            <h2>Register now to receive new updates about me!</h2>
        </div>
        <div class="container">
            <form>
                <div class="form-group row">
                  <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Birthdate</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" id="inputDate" placeholder="mm/dd/yyyy">
                    </div>
                  </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="name@youremail.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUserName" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputUserName" placeholder="Username">
                    </div>
                  </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordConf" class="col-sm-2 col-form-label">Password confirmation</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPasswordConf" placeholder="Password confirmation">
                    </div>
                  </div>
                <div class="form-group row">
                  <div class="col-sm-2">Checkbox</div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">
                        I agree to the terms and condition of this website
                      </label>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Register
                </button>
                <div class="button-modal">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Registration success!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Thank you for registering to my website!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </form>
            </div>
            {% include "socmed.html" %}
    </body>
</html>