<div class="d-flex justify-content-around w-25 mx-auto" style="margin-top:20px">
    <a href="https://www.facebook.com/samueldimassiahaan">
        <img src="https://i.imgur.com/zuLwINs.png" alt="Facebook" style="width: 50px;">
    </a>
    <a href="https://twitter.com/SamuelDimas">
        <img src="https://i.imgur.com/EX57tGU.png" alt="Twitter" style="width: 50px;">
    </a>
    <a href="https://www.instagram.com/_samueldimas/">
        <img src="https://i.imgur.com/KR0xvG6.png" alt="Instagram" style="width: 50px;">
    </a>
    <a href="https://www.linkedin.com/in/samueldimas">
        <img src="https://i.imgur.com/PYa4Am7.png" alt="LinkedIn" style="width: 50px;">
    </a>
    <a href="https://www.youtube.com/channel/UC-Xhb8kAoPddVNCTZfsAEWQ?view_as=subscriber">
        <img src="https://i.imgur.com/M3xY0Nz.png" alt="Youtube" style="width: 50px;">
    </a>
</div>