{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Track Record</title>
        {% include "head_link.html" %}
    </head>
    <body>
        <!-- width 75% dari, mx(margin x) auto -->
        {% include "navbar.html" %}
        <div id="record-logo">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="http://pmb.cs.ui.ac.id/">
                            <img src="https://i.imgur.com/Xk9TYm1.png" alt="PMB" style="width: 400px;">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://bem.cs.ui.ac.id/">
                            <img src="https://i.imgur.com/Enza5SR.png" alt="BEM" style="width: 300px;">
                        </a>
                    </div>
                    <div class="col" style="margin-top:40px; margin-left: 50px">
                        <a href="https://www.instagram.com/pemiracsui/">
                            <img src="https://i.imgur.com/6bSMXGT.png" alt="Pemira" style="width: 300px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="record-caption">
            <h1>These are my activities this year</h1>
        </div>
        {% include "socmed.html" %}
    </body>
</html>